<h1>Enter Payment Details</h1>
<form>
  <div class="radio-group main">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="paymentType" id="pay-cash" value="pay-cash" checked>
      <label class="form-check-label" for="pay-cash">Pay Cash</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="paymentType" id="online-payment" value="online-payment">
      <label class="form-check-label" for="online-payment">Pay Online</label>
    </div>
  </div>
  <div class="clearfix"></div>
</form>
<div class="address-box">
  <div class="address-store">
    <label>TOTAL</label>
    <p class="description color-prune">$ 6.74</p>
  </div>
  <div class="address-input">
    <label>Enter Card Details</label>
    <form>
      <input placeholder="Card Number" type="text" />
      <input placeholder="Name on Card" type="text" />
      <div class="input-inline">
          <input class="mm" placeholder="MM" type="number" />
          <input class="year" placeholder="YYYY" type="number" />
          <input class="pin" placeholder="PIN" type="number" />
      </div>
    </form>
  </div>
  <div class="clearfix"></div>
</div>
