<div class="content-width">
  <div class="footer">
    <ul class="footer-bar float-left">
      <li><span style="margin-right: 10px;">©</span>Copyright</li>
    </ul>
    <ul class="footer-bar float-right">
      <li>Privacy Policy</li>
      <li>FAQs</li>
      <li>Contact Us</li>
    </ul>
    <div class="cart-icon" *ngIf="showCart" [class.active]="cartItems.length > 0" (click)="openCart()" [class.item-added]="itemAdded">
        <i class="material-icons">shopping_cart</i>
    </div>
  </div>
</div>
