<div class="content-width">
  <div class="footer">
    <ul class="footer-bar float-left">
      <li><span style="margin-right: 10px;">©</span>Copyright</li>
    </ul>
    <ul class="footer-bar float-right">
      <li>Privacy Policy</li>
      <li>FAQs</li>
      <li>Contact Us</li>
    </ul>
    <div class="cart-icon" *ngIf="showCart && !noCartInFooter" [class.active]="cartItems.length > 0" (click)="openCart()" [class.item-added]="itemAdded" [attr.like-disabled]="cartItems.length === 0">
        <i class="material-icons">shopping_cart</i>
        <span class="badge" [hidden]="cartItems.length == 0">{{cartItems.length | number: '2.0-0'}}</span>
    </div>
  </div>
</div>
