<div class="backdrop">
  <div class="overlay">
    <div class="content-width">
      <ul class="nav-bar">
        <li>Reviews</li>
        <li>Social</li>
        <li><a [routerLink]="['/find-us']">Find Us</a></li>
      </ul>
      <div class="logo-holder">
        <img src="assets/logo2@4x.png" />
      </div>
    </div>
  </div>
  <div class="landing-content">
    <div class="content-width ">
      <button class="btn-btn-primary order-button" [routerLink]="['/list']">ORDER</button>
      <p class="landing-description">{{description}}</p>
    </div>
  </div>
</div>
