@import '../../styles.scss';
.backdrop {
    width: 100%;
    height: 100vh;
    float: left;
    background-image: url("../../assets/background.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-position: bottom;
    overflow: hidden;
    .overlay {
        background-color: rgba($prune, 0.75);
        float: left;
        width: 100%;
        .logo-holder {
            width: 350px;
            display: block;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        flex: 1;
    }
    .landing-content {
        background: #fff;
        flex: initial;
        height: 50vh;
    }
    .nav-bar { 
        list-style:none;
        width: 100%;
        text-align: right;
        margin: 0 0 50px 0;
        padding: 0;
        li {
            display: inline-block;
            line-height: 72px;
            height: 72px;
            padding: 0 15px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: small;
            margin-left: 15px;
            color: rgba(#ffffff, 0.80);
            a {
                text-decoration: none;
                color: rgba(#ffffff, 0.80);
            }
        }
    }
    .order-button {
        margin: 60px auto 45px auto;
        display: block;
        background: $prune;
        height: 80px;
        line-height: 80px;
        width: 150px;
        text-align-last: center;
        color: #ffffff;
        border-radius: 50px;
        box-sizing: border-box;
        font-size: small;
        letter-spacing: 2px;
        box-shadow: none;
        border: none;
        outline: none;
        @include focus-states($prune);
    }
    .landing-description {
        width: 100%;
        display: block;
        margin: 0 auto;
        font-size: large;
        font-weight: 300;
        text-align: justify;
    }
}