<app-page-content [noCartInFooter]="true">
  <div class="find-us-content">
    <h1>
      Find Us
    </h1>
    <div class="map-container">
      <div class="map-box">
		  <img src="assets/map.png" />
      </div>
      <div class="map-details">
        <label class="name">Store Address</label>
        <p class="description">4500 Centre Avenue</p>
        <p class="description">Unit 12345</p>
        <p class="description">Pittsburgh, PA 15213</p>
        <div class="margin-separator"></div>
        <label class="name">Reach Us</label>
        <p class="description">(123)-456-789</p>
        <p class="description"><a>bunbun@random.com</a></p>
        <div class="margin-separator"></div>
        <label class="name">Google Maps</label>
        <p class="description"><a>goo.gl/bun-bun-on-map</a></p>
      </div>
    </div>
  </div>
</app-page-content>
