@import '../../styles.scss';

.slide-left {
    animation: slide-left 0.3s ease-out 0s forwards;
}
.slide-right {
    animation: slide-right 0.3s ease-out 0s forwards;
}

.cart-content {
  padding: 45px 45px 30px 45px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 {
    margin: 0 0 30px 0;
    width: 100%;
    font-weight: 300;
    font-size: x-large;
    order: 1;
    color: $text_color;
  }

  .cart-container {
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    order: 1;
    flex: 1;

  }

  .w-h-100 {
    width: 100%;
    height: 100%;
  }

  .item-list {
    width: 450px;
    display: inline-block;
    vertical-align: top;
    height: calc(100% - 75px);
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    .cart-item {
      width: 100%;
      background: #fff;
      margin: 0 15px 15px 0;

      .cart-item-wrapper {
        width: 100%;
        padding: 15px 15px 10px 15px;

        .img-wrapper {
          width: 90px;
          display: inline-block;
          vertical-align: top;

          img {
            width: 100%;
            max-width: 65px;
            vertical-align: top;
          }
        }

        .item-details {
          width: calc(100% - 90px);
          display: inline-block;
          vertical-align: top;

          .item-details-specifics {
            width: 100%;
            display: inline-block;
          }

          .roll-names {
            width: 250px;
            color: $text_color;
            margin: 0;

            .roll-name {
              display: block;
              font-weight: 300;
              font-size: large;
            }

            .glaze-name {
              display: block;
              font-weight: 300;
              font-size: medium;
            }
          }

          .item-remove-btn {
            padding: 0;
            margin: 0;
            color: $prune;
            font-weight: 500;
            letter-spacing: 1px;
            border: none;
            box-shadow: none;
            text-transform: uppercase;
            font-size: small;
            position: relative;
            cursor: pointer;
          }

          .roll-price,
          .roll-total-price {
            font-size: medium;
            font-weight: 300;
            color: $text_color;
            margin: 0;
            vertical-align: middle;
          }

          .roll-total-price {
            color: $prune;
          }
        }
      }
    }
  }

  .price-details {
    width: calc(100% - 500px);
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 45px;

    .price-item-group {
      width: 100%;
      float: left;

      .wrapper {
        width: 100%;
        max-width: 300px;
        float: right;
      }

      label {
        color: $text_color;
        display: inline-block;

        &.key {
          float: left;
          font-weight: 300;
          font-size: large;
          letter-spacing: 1px;
          opacity: 0.75;
        }

        &.value {

          float: right;
          font-weight: 300;
          font-size: x-large;
        }
      }

      &.final {
        margin-top: 30px;

        .wrapper {
          border-top: 1px solid $prune;
          padding: 30px 0 0 0;

          label {
            color: $prune;
          }
        }
      }
    }
  }

  .cart-footer {
    order: 3;
    height: 60px;
    flex: initial;
    position: relative;

    ul.cart-step-markers {
      position: absolute;
      left: 50%;
      bottom: 0;
      white-space: nowrap;
      padding: 0;
      margin-left: -24px;

      li {
        display: inline-block;
        margin: 0 8px;
        width: 16px;
        height: 16px;
        background: rgba($prune, 0.15);
        border-radius: 50%;
        pointer-events: none;

        &.active {
          background: rgba($prune, 0.50);
        }
      }
    }
  }

  .control {

    &:hover,
    &:focus,
    &:active {
      background-color: rgba($prune, 1);

      i {
        color: #fff;
      }
    }

    cursor: pointer;
  }

  .item-close-control {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    text-align: center;
    height: 36px;

    i {
      color: $text_color;
      font-size: medium;
      width: 36px;
      height: 36px;
      line-height: 36px;
    }
  }
}

.radio-group {
  &.main {
    color: $text_color;
    margin-top: 60px;

    .form-check {
      width: 50%;
      float: left;
      margin: 0;
      cursor: pointer;

      &:first-child {
        padding-right: 60px;
      }

      .form-check-input {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid $prune;
        border-radius: 50%;
        outline: none;
        position: relative;
        cursor: pointer;

        &:checked {
          &:after {
            content: ' ';
            width: 12px;
            height: 12px;
            background: $prune;
            position: absolute;
            border-radius: 50%;
            top: 2px;
            left: 2px;
          }
        }
      }

      .form-check-label {
        font-size: x-large;
        font-weight: 300;
        padding-left: 15px;
        opacity: 0.80;
        cursor: pointer;
      }
    }
  }
}

.address-box {
    width: 100%;
    padding: 60px 0 15px 0;
    label {
        font-weight: 500;
        font-size: medium;
        color: $text_color;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    p {
        &.description {
            font-weight: 300;
            font-size: x-large;
            color: $text_color;
            margin: 0;
        }
    }
    .address-store {
        width: 50%;
        float: left;
        padding-left: 40px;
    }
    .address-input {
        width: 50%;
        max-width: 400px;
        float: left;
        padding-left: 40px;
        input {
            width: 100%;
            background: transparent;
            font-weight: 300;
            font-size: x-large;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid rgba($prune, 0.20);
            margin-bottom: 5px;
            outline: none;
            color: $text_color;
            transition: border-bottom-color 0.2s linear 0s;
            &:hover,
            &:focus,
            &:active {
                border-bottom-color: rgba($prune, 1);
            }

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                font-size: medium;
            }
            
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                font-size: medium;
            }
            
            &::-ms-input-placeholder { /* Microsoft Edge */
                font-size: medium;
            }
        }
        .input-inline {
            input {
                display: inline-block;
                &.city {
                    width: 60%;
                    float: left;
                }
                &.mm {
                    width: 30%;
                    float: left;
                    margin-right: 7.5%;
                }
                &.year {
                    width: 20%;
                    float: left;
                }
                &.pin {
                    width: 35%;
                    float: right;
                }
            }
        }
    }
}