<app-page-content>
  <div class="cart-content">
    <div class="item-close-control control" (click)="closeCart()">
      <i class="material-icons">close</i>
    </div>
    <h1>
      Cart
    </h1>
    <div class="cart-container">
      <div class="item-list">
        <div class="cart-item" *ngFor="let item of cartItems">
          <div class="cart-item-wrapper">
            <div class="img-wrapper">
              <img [attr.src]="item.img" />
            </div>
            <div class="item-details">
              <div class="item-details-specifics">
                <label class="float-left roll-names">
                  <span class="roll-name">{{item.name}}</span>
                  <span class="glaze-name">{{item.glaze}}</span>
                </label>
                <label class="float-right roll-price"> 1.05 x 3</label>
              </div>
              <div class="item-details-quantity">
                <button class="item-remove-btn">Remove</button>
                <label class="float-right roll-total-price">$ 3.15</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="price-details">
        <div class="price-item-group">
          <div class="wrapper">
            <label class="key">Net</label>
            <label class="value">6.30</label>
          </div>
        </div>
        <div class="price-item-group">
          <div class="wrapper">
            <label class="key">Tax (7 %)</label>
            <label class="value">0.44</label>
          </div>
        </div>
        <div class="price-item-group final">
          <div class="wrapper">
            <label class="key">Total</label>
            <label class="value">$ 6.74</label>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="cart-footer">
      <ng-container *ngIf="activeStep === 1">
        <button class="btn-bunbun float-left" > BUY MORE</button>
        <button class="btn-bunbun float-right" > CONTINUE</button>
      </ng-container>
      <ul class="cart-step-markers">
        <li *ngFor="let step of cartSteps" [class.active]="activeStep == step"></li>
      </ul>
    </div>
  </div>
</app-page-content>
