/* You can add global styles to this file, and also import other style files */
$cardinal: #c42333;
$vivid_burgandy: #a51c30;
$sweet_brown: #a7333f;
$prune: #74121d;
$dark_scarlet: #580c1f;
$prune_background: lighten($prune, 71);
$text_color: #565656;

body {
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}
.content-width {
    width: 80%;
    display: block;
    margin:  0 auto;
    max-width: 1200px;
    height: 100%;
}

* {
    box-sizing: border-box;
}

@mixin focus-states($color: null) {
    @if($color) {
        &:active, &:hover {
            background: $color;
            cursor: pointer;
        }

        &:active {
            background: $color;
            -moz-transform: scale(0.98, 0.98);
            -ms-transform: scale(0.98, 0.98);
            -o-transform: scale(0.98, 0.98);
            -webkit-transform: scale(0.98, 0.98);
            transform: scale(0.98, 0.98);
        }

        &.disabled,
        &[disabled] {
            opacity: 0.6;

            &:active, &:hover {
                background: transparent;
            }

            &:active {
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                -webkit-transform: none;
                transform: none;
            }
        }
    }
    @else {
        &:active, &:hover {
            background: rgba(0,0,0,0.1);
            cursor: pointer;
        }

        &:active {
            background: rgba(0,0,0,0.2);
            -moz-transform: scale(0.98, 0.98);
            -ms-transform: scale(0.98, 0.98);
            -o-transform: scale(0.98, 0.98);
            -webkit-transform: scale(0.98, 0.98);
            transform: scale(0.98, 0.98);
        }

        &.disabled,
        &[disabled] {
            opacity: 0.6;

            &:active, &:hover {
                background: transparent;
                cursor: default;
            }

            &:active {
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                -webkit-transform: none;
                transform: none;
            }
        }
    }
}