@import '../../styles.scss';
.page-content {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .page-content-inner {
        width: 100%;
        float: left;
        height: calc(100% - 120px);
        padding: 45px 0;
        &.noFooter {
            height: calc(100% - 75px);
        }
        box-sizing: border-box;
        .content-area {
            width: 100%;
            height: 100%;
            display: block;
            &.showBgColor {
                background: $prune_background;
            }
        }
    }
}